@media screen and (max-width: 767px) {

	body {
		background-repeat: repeat;
	}

	.header {
		margin-bottom: 35px;
	}

	.search {
		padding-top: 15px;
		margin-bottom: 0;
		text-align: center;

		.wrapper {
			padding-top: 0;
			background: none;
		}

		.container {
			margin: 0 15px;
			background: none;
		}
	}

	.search-description {
		font-size: 16px;
		color: #b4b4b4;
		margin-bottom: 20px;
	}

	.search-title {
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 5px;
	}

	.filters_xs {
		margin-bottom: 20px;

		.filters_xs-button {
			border-radius: 6px;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 17px;
			@include font (ext);
			padding-left: 55px;
			position: relative;
			line-height: 38px;

			&:before {
				display: block;
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				height: 100%;
				width: 55px;
				background: #ea5b91;
				border-top-left-radius: 6px;
				border-bottom-left-radius: 6px;
			}

			&:after {
				display: block;
				position: absolute;
				content: "";
				@include get-sprite($catalog-spr, filters-button);
				top: 50%;
				transform: translateY(-50%);
				left: 16px;
			}
		}

		.filters_xs-container,
		.filters_xs__block-inner {
			position: fixed;
			margin: 0;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 100500;
			background: white;
			padding-top: 0;
		}

		.filters_xs__wrapper {
			overflow: auto;
			max-height: 87vh;
		}

		.filters_xs__top {
			min-height: 90px;
			background: #f9f9f9;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 -15px;
			padding: 0 15px;
		}

		.filters_xs__top-title {
			color: $pink;
			font-size: 18px;
			@include font(ext);
		}

		.filters_xs__exit {
			@include get-sprite($catalog-spr, exit_big_pink);
		}

		.filters_xs__block {
			padding: 20px 0;
			position: relative;
			border-bottom: 1px solid #f5f5f5;

			&:last-child {
				border-bottom: none;
			}

			&.carret:before {
				position: absolute;
				display: block;
				content: "";
				@include get-sprite($header-spr, arrow-close);
				right: 0;
				top: 25px;
			}
		}

		.filters_xs__block-title {
			color: $fiol;
			font-size: 15px;
			@include font(ext);
			letter-spacing: 3px;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		.filters_xs-item {
			font-size: 18px;
			color: $fiol;
			margin-bottom: 5px;
			@include font(med);

			.filters-item_xs__text {
				position: relative;

				&.blue {
					padding-left: 30px;

					&:before {
						position: absolute;
						content: "";
						display: block;
						background: blue;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}

		.filters_xs-label {
			display: block;
		}		

		.checkbox-default + .checkbox-default__text,
		.radio-default + .radio-default__text {
			color: $fiol;
		}

		.filters_xs-label-checkbox {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.filters_xs__block-inner  {

			.filters_xs__top {
				margin-bottom: 20px;
			}

			.checkbox-default + .checkbox-default__text, {
				padding-left: 30px;
			}

			.filters_xs-label-checkbox {
				margin-bottom: 0;
			}

			.filters_xs__inner-brend-item {
				margin-bottom: 15px;
			}

		}

	}

	.clothing-list {
		margin-bottom: 30px;
		justify-content: center;

		.clothing-item {
			max-width: 370px;
			background: #fff;
			margin-bottom: 20px;
		}
	}

	.paggination-list {
		margin-bottom: 30px;
	}

	.mobile_bg {
		background: #fff;
		margin-top: -45px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	
	.filters-price, .filters-color, .filters-brand, .filters-material {
		margin-right: 25px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {

	.filters {
		padding-left: 60px;
		text-align: left;
	}

	.filters-price, .filters-color, .filters-brand, .filters-material {
		min-width: 40%;
		text-align: left;
		margin-bottom: 5px;
	}

	.filters-check-list {
		text-align: center;
	}

	.filters-list {
		font-size: 0;

		.filters-item {
			font-size: 14px;
			margin-right: 5px;
			margin-bottom: 5px;
		}
	}

	.clothing-item__button, .clothing-item__button:hover, .clothing-item__button:focus {
		width: 100%;
	}

	.clothing-item__price {
		font-size: 20px;
		letter-spacing: 3px;
	}

}