.clothing {
	margin-bottom: 100px;

	.wrapper {
		min-height: 200px;
		background: #fff;
		padding-top: 50px;
	}

	.container {
		position: relative;
	}
} 

.clothing-title {
	font-size: 60px;
	line-height: 60px;
	font-family: 'raleway_extrabold';
	width: 100%;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
}  

.breadcrumbs-list {
	text-align: center;
	margin-bottom: 40px;
}

.breadcrumbs-item {
	display: inline-block;
	text-align: center;
	margin-right: 30px;
	font-size: 16px;
	color: #f7689e;
	font-family: 'raleway_medium';
	position: relative;
	border-bottom: 1px solid $pink;
	line-height: 16px;
	position: relative;

	&:last-child:after {
		display: none;
	}

	&:after {
		content: "/";
		display: block;
		position: absolute;
		right: -21px;
		top: 0;
		color: #d6d6d6;
	}

	&.active {
		border-bottom: 0.1px dashed $pink;
	}

	&.active:before {
		@extend %icons;
		@include get-sprite($catalog-spr, arrow-down_small_pink);
		right: -20px;
	}
}

.filters {
	min-height: 115px;
	padding: 25px 10px;
	background: $pink;
	border-radius: 5px;

	.dropdown {
		vertical-align: middle;
		display: inline-block;
	}
}

.filters-price,
.filters-color,
.filters-brand,
.filters-material {
	vertical-align: top;
	display: inline-block;
	margin-right: 40px;
}

.filters-material {
	margin-right: 0;
}

.filters-text {
	font-size: 16px;
	display: inline-block;
	color: #fff;
	font-family: 'raleway_medium';
	vertical-align: middle;
}

.filters-price__selected {
	font-size: 16px;
	display: inline-block;
	color: #fff;
	line-height: 16px;
	font-family: 'raleway_medium';
	vertical-align: middle;
	border-bottom: 0.1px dashed #fff;
}

.filters-button-open {
	width: 25px;
	height: 25px;
	position: relative;

	&:before {
		@extend %icons;
		@include get-sprite($catalog-spr, arrow-down_small_white);
		left: 50%;
		transform: translate(-50%,-50%);
	}
}