/* ======= mixins ========= */
/* ===== instruments ====== */
.breadcrumbs-item.active:before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

.advantages-item.icons-items:before, .advantages-item.icons-note:before, .advantages-item.icons-cloth:before {
  position: absolute;
  display: block;
  content: "";
}

/* ======= sections ====== */
.about-title {
  font-size: 60px;
  line-height: 60px;
  font-family: 'raleway_extrabold';
  width: 100%;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
}

.about {
  margin-bottom: 0 !important;
}
.about .wrapper {
  overflow: visible;
  padding-top: 50px;
}
.about .breadcrumbs-item {
  color: #fff;
  border-color: #fff;
}
.about .breadcrumbs-item:last-child {
  border: none;
  cursor: default;
}
.about .breadcrumbs-list {
  margin-bottom: 70px;
}
.about .about-description {
  color: #fff;
  font-size: 22px;
  line-height: 37px;
}
.about .about-description.top {
  margin-bottom: 40px;
}
.about .about-wiki-button,
.about .about-wiki-button:hover,
.about .about-wiki-button:focus {
  color: #b93265;
  font-size: 22px;
  position: absolute;
  bottom: 80px;
  font-family: 'raleway_medium';
}

@keyframes animatedFeedback {
  0% {
    background-position: center, 0 0;
  }
  100% {
    background-position: center, 0px 600px;
  }
}
.advantages .wrapper {
  background: #fff;
  min-height: 590px;
  padding-top: 125px;
  padding-bottom: 30px;
}

.advantages-title {
  font-size: 60px;
  font-family: 'raleway_extrabold';
  letter-spacing: 10px;
  line-height: 60px;
  margin-bottom: 90px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item {
  font-size: 22px;
  font-family: 'raleway_medium';
  padding: 135px 50px 0 50px;
  position: relative;
}

.advantages-item.icons-items:before {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: url('../images/icons-about-sbeb3af3eef.png') 0 -172px no-repeat;
  width: 107px;
  height: 92px;
}

.advantages-item.icons-note:before {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: url('../images/icons-about-sbeb3af3eef.png') 0 -334px no-repeat;
  width: 96px;
  height: 92px;
}

.advantages-item.icons-cloth:before {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: url('../images/icons-about-sbeb3af3eef.png') 0 0 no-repeat;
  width: 112px;
  height: 102px;
}

.feedback .wrapper {
  background: url('../images/new-face.png?1484040328') no-repeat, #7261aa url('../images/fiol-block.png?1484039011') repeat;
  background-position: center;
  animation: animatedFeedback 30s linear infinite;
  animation-play-state: paused;
  border-radius: 10px;
}
.feedback .wrapper:hover {
  animation-play-state: running;
}

.breadcrumbs-link {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.breadcrumbs-link:hover {
  opacity: 0.7;
}

.breadcrumbs-list {
  text-align: center;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  font-size: 16px;
  color: #f7689e;
  font-family: 'raleway_medium';
  position: relative;
  border-bottom: 1px solid #f7689e;
  line-height: 16px;
  position: relative;
}
.breadcrumbs-item:last-child:after {
  display: none;
}
.breadcrumbs-item:after {
  content: "/";
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  color: #d6d6d6;
}
.breadcrumbs-item.active {
  border-bottom: 0.1px dashed #f7689e;
}
.breadcrumbs-item.active:before {
  background: url('../images/icons-catalog-s8a9aaedf0e.png') 0 0 no-repeat;
  width: 9px;
  height: 5px;
  right: -20px;
}
.breadcrumbs-item .dropdown-menu {
  width: 260px;
  min-height: 370px;
  padding: 20px 20px 25px 25px;
  top: -23px;
  left: -25px;
  background: #fff;
  border: none;
  box-shadow: none;
}
.breadcrumbs-item .breadcrumbs-item__item {
  font-size: 16px;
  font-family: 'raleway_medium';
  margin-bottom: 15px;
  color: black;
}
.breadcrumbs-item .breadcrumbs-item__item:last-child {
  margin-bottom: 0;
}
.breadcrumbs-item .breadcrumbs-item__item:hover {
  color: #f7689e;
}

.casualties .wrapper {
  background: #f6f6f6 url('../images/scream-woman.png?1482424247') no-repeat;
  background-size: contain;
  min-height: 715px;
  padding-top: 130px;
  padding-bottom: 20px;
}

.casualties-title {
  font-size: 60px;
  line-height: 60px;
  color: black;
  letter-spacing: 15px;
  font-family: 'raleway_extrabold';
  margin-bottom: 60px;
  text-transform: uppercase;
}

.casualties-description {
  font-size: 22px;
  line-height: 37px;
  color: black;
  font-family: 'raleway_medium';
}
.casualties-description p {
  margin-bottom: 50px;
}

/* ======== media ========= */
@media screen and (max-width: 767px) {
  .wrap_xs {
    background: #fff;
    margin: 15px 15px 0 15px;
  }

  .about .wrapper {
    position: relative;
  }

  .header {
    margin-bottom: 35px;
  }

  .about {
    color: black;
    margin-bottom: 35px !important;
    text-align: left;
  }
  .about .wrapper {
    padding-top: 0;
    background: none;
  }
  .about .container {
    padding-top: 40px;
    background: none;
  }
  .about .breadcrumbs-list {
    margin-bottom: 30px;
    padding-top: 25px;
  }
  .about .breadcrumbs-item {
    color: #f7689e;
    border-color: #f7689e;
  }
  .about .breadcrumbs-item:last-child {
    color: #bbbbbb;
  }
  .about .about-description {
    color: black;
    font-size: 17px;
    text-align: left;
    line-height: 27px;
    margin-bottom: 25px;
  }
  .about .about-description.top {
    margin-bottom: 25px;
  }
  .about .about-description .knife {
    padding-left: 30px;
  }
  .about .about-description .knife:before {
    display: block;
    background: url('../images/icons-main-s3ada57b914.png') 0 -1782px no-repeat;
    width: 25px;
    height: 26px;
  }
  .about .about-description .grenade {
    padding-left: 30px;
  }
  .about .about-description .grenade:before {
    display: block;
    background: url('../images/icons-main-s3ada57b914.png') 0 -1384px no-repeat;
    width: 26px;
    height: 31px;
  }
  .about .about-wiki-button,
  .about .about-wiki-button:hover,
  .about .about-wiki-button:focus {
    position: relative;
    bottom: auto;
    font-size: 17px;
    color: #d9d9d9;
  }
  .about .about-img-container {
    max-width: 100%;
    margin-bottom: 35px;
  }
  .about .about-img {
    width: 100%;
  }

  .about-title {
    top: -15px;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 5px;
  }

  .casualties {
    margin-bottom: 35px;
  }
  .casualties .wrapper {
    min-height: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  .casualties .casualties-title {
    font-size: 30px;
    margin-bottom: 35px;
    text-align: center;
    letter-spacing: 5px;
  }
  .casualties .casualties-description {
    font-size: 17px;
    line-height: 27px;
  }
  .casualties .casualties-description p {
    margin-bottom: 30px;
  }
  .casualties .casualties-description p:last-child {
    margin-bottom: 0;
  }
  .casualties .about-img-container {
    max-width: 100%;
    margin-bottom: 35px;
  }
  .casualties .about-img {
    width: 100%;
  }

  .advantages .wrapper {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
  }
  .advantages .advantages-title {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 3px;
    margin-bottom: 35px;
  }
  .advantages .advantages-item {
    padding: 130px 50px 0 50px;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 40px;
  }

  .feedback {
    margin-bottom: 0;
  }
  .feedback .wrapper {
    padding-top: 50px;
    padding-bottom: 55px;
    min-height: auto;
    border-radius: 0;
  }
  .feedback .feedback-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
    letter-spacing: 5px;
  }
  .feedback .feedback-description {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 40px;
    letter-spacing: 5px;
  }
  .feedback .feedback-form__button-submit {
    width: 75%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .about .breadcrumbs-list {
    margin-bottom: 30px;
  }

  .about .about-description.top {
    margin-bottom: 20px;
  }

  .about-title {
    top: -20px;
  }

  .casualties .wrapper {
    background-size: cover;
    background-position: -190px;
    padding-top: 40px;
  }

  .casualties-title {
    font-size: 45px;
    line-height: 45px;
  }

  .casualties-description {
    font-size: 20px;
    line-height: 35px;
  }

  .advantages .wrapper {
    padding-top: 75px;
  }
}

/*# sourceMappingURL=about.css.map */
