/* ======= mixins ========= */
/* ===== instruments ====== */
.basket-page__item-dismiss-button,
.basket-page__item-dismiss-button:hover,
.basket-page__item-dismiss-button:focus {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

.card-count .card-count__minus, .card-count .card-count__plus {
  position: absolute;
  display: block;
  content: "";
}

.card-count .card-count__minus:before, .card-count .card-count__plus:before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ======= sections ====== */
.basket-page {
  margin-bottom: 80px;
}
.basket-page .wrapper {
  min-height: 200px;
  background: #fff;
  padding-top: 50px;
}
.basket-page .container {
  position: relative;
}

.basket-page-title {
  font-size: 60px;
  line-height: 60px;
  font-family: 'raleway_extrabold';
  width: 100%;
  letter-spacing: 13px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: -80px;
  left: 50%;
  padding-left: 15px;
  transform: translateX(-50%);
}

.basket-page-tomain,
.basket-page-tomain:hover,
.basket-page-tomain:focus {
  text-align: center;
  font-size: 16px;
  color: #f7689e;
  font-family: 'raleway_medium';
  text-decoration: underline;
  position: relative;
  margin-bottom: 40px;
}

.basket-page__list {
  margin-bottom: 60px;
}

.basket-page__item {
  height: 140px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.basket-page__item .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.basket-page__item .flex-row {
  display: flex;
  align-items: center;
}
.basket-page__item .item_height {
  height: 100%;
}
.basket-page__item:last-child {
  margin-bottom: 0;
}

.basket-page__item-img-container {
  max-width: 100%;
  width: 100%;
  height: 140px;
  line-height: 140px;
  position: relative;
  text-align: center;
}

.basket-page__item-img {
  max-width: inherit;
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.basket-page__item-colors-list {
  position: absolute;
  font-size: 0;
  top: 20px;
  left: 30px;
}

.basket-page__item-colors-item {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.basket-page__item-colors-item:last-child {
  margin-bottom: 0;
}

.basket-page__item-colors-item.white {
  background: white;
}

.basket-page__item-colors-item.black {
  background: black;
}

.basket-page__item-colors-item.red {
  background: red;
}

.basket-page__item-colors-item.orange {
  background: orange;
}

.basket-page__item-colors-item.yellow {
  background: yellow;
}

.basket-page__item-colors-item.green {
  background: green;
}

.basket-page__item-colors-item.blue {
  background: #42aaff;
}

.basket-page__item-colors-item.power-blue {
  background: #0000ff;
}

.basket-page__item-colors-item.purple {
  background: purple;
}

.basket-page__item-colors-item.gold {
  background: gold;
}

.basket-page__item-colors-item.silver {
  background: silver;
}

.basket-page__item-colors-item.gray {
  background: gray;
}

.basket-page__item-colors-item.transparent {
  background: #f9f7f7;
}

.basket-page__item-colors-item.brown {
  background: brown;
}

.basket-page__item-colors-item.vinous {
  background: #9b2d30;
}

.basket-page__item-colors-item.pink {
  background: pink;
}

.basket-page__item-colors-item.bronze {
  background: #cd7f32;
}

.basket-page__item-colors-item.turquoise {
  background: turquoise;
}

.basket-page__item-colors-item.beige {
  background: beige;
}

.basket-page__item-colors-item.lilac {
  background: #c8a2c8;
}

.basket-page__item-colors-item.crimson {
  background: crimson;
}

.basket-page__item-colors-item.khaki {
  background: khaki;
}

.basket-page__item-colors-item.citric {
  background: #fde910;
}

.basket-page__item-colors-item.violet {
  background: violet;
}

.basket-page__item-colors-item.military {
  background: #4B5320;
}

.basket-page__item-colors-item.green-apple {
  background: #77DD77;
}

.basket-page__item-colors-item.cobalt {
  background: #0047AB;
}

.basket-page__item-colors-item.anthracite {
  background: #464451;
}

.basket-page__item-colors-item.silvery {
  background: #c9c0bb;
}

.basket-page__item-colors-item.bordeaux {
  background: #B00000;
}

.basket-page__item-colors-item.golden {
  background: goldenrod;
}

.basket-page__item-colors-item.gray-melange {
  background: #808080;
}

.basket-page__item-colors-item.dark-blue {
  background: #000080;
}

.basket-page__item-colors-item.substrate {
  background: red;
}

.basket-page__item-colors-item.full-color {
  background: red;
}

.basket-page__item-code {
  font-size: 16px;
  color: #b7b7b7;
  font-family: 'raleway_medium';
  margin-bottom: 15px;
}

.basket-page__item-description,
.basket-page__item-description:hover,
.basket-page__item-description:focus {
  text-decoration: underline;
  font-size: 16px;
  color: black;
  font-family: 'raleway_medium';
}

.card-count {
  position: relative;
  height: 38px;
  line-height: 36px;
  border: 1px solid #f7689e;
  border-radius: 2px;
  width: 84px;
  font-size: 22px;
  font-family: 'raleway_medium';
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}
.card-count .card-count__minus {
  height: 100%;
  left: 0;
  width: 33px;
  top: 0;
}
.card-count .card-count__minus:before {
  background: url('../images/icons-details-s506e3351b3.png') 0 -426px no-repeat;
  width: 11px;
  height: 3px;
}
.card-count .card-count__plus {
  height: 100%;
  right: 0;
  width: 33px;
  top: 0;
}
.card-count .card-count__plus:before {
  background: url('../images/icons-details-s506e3351b3.png') 0 -499px no-repeat;
  width: 11px;
  height: 11px;
}

.basket-page__item-price {
  margin-left: 40px;
  font-size: 18px;
  font-family: 'raleway_extrabold';
  color: #7261aa;
  margin-right: 55px;
  position: relative;
  letter-spacing: 3px;
}
.basket-page__item-price:before {
  content: "/";
  display: block;
  position: absolute;
  color: #d8d8d8;
  right: -38px;
}

.basket-page__item-total-price {
  font-size: 25px;
  color: #7261aa;
  font-family: 'raleway_extrabold';
  letter-spacing: 5px;
}

.basket-page__item-dismiss-button,
.basket-page__item-dismiss-button:hover,
.basket-page__item-dismiss-button:focus {
  background: url('../images/icons-details-s506e3351b3.png') 0 0 no-repeat;
  width: 20px;
  height: 20px;
  right: 30px;
}

.basket-page__bottom {
  height: 110px;
  background: #7261aa;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  margin-bottom: 75px;
}

.basket-page__bottom-title {
  font-size: 18px;
  color: #fff;
  font-family: 'raleway_medium';
  margin-right: 15px;
}

.basket-page__bottom-price {
  font-size: 25px;
  color: #fff;
  font-family: 'raleway_extrabold';
  margin-right: 60px;
  letter-spacing: 5px;
}

.basket-page__bottom-sumbit,
.basket-page__bottom-sumbit:hover,
.basket-page__bottom-sumbit:focus {
  width: 200px;
  height: 50px;
  background: #f7689e;
  line-height: 50px;
  font-family: 'raleway_medium';
  color: #fff;
  font-size: 22px;
  text-transform: lowercase;
  text-align: center;
  border-radius: 2px;
}

/* ======== media ========= */
@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 35px;
  }

  .basket-page {
    padding-top: 15px;
    margin-bottom: 10px;
    text-align: center;
  }
  .basket-page .wrapper {
    padding-top: 0;
    background: none;
  }
  .basket-page .container {
    margin: 0 15px;
    padding-top: 40px;
    background: #fff;
  }

  .basket-page-title {
    top: -15px;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 5px;
  }

  .breadcrumbs-list {
    margin-bottom: 30px;
  }

  .basket-page__item_xs {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .basket-page__item_xs:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .basket-page__item-top_xs {
    color: #b7b7b7;
    font-size: 16px;
    font-family: 'raleway_medium';
    text-align: left;
    padding-right: 35px;
    position: relative;
  }

  .basket-page__item-dismiss_xs,
  .basket-page__item-dismiss_xs:hover,
  .basket-page__item-dismiss_xs:focus {
    position: absolute;
    display: block;
    content: "";
    background: url('../images/icons-details-s506e3351b3.png') 0 0 no-repeat;
    width: 20px;
    height: 20px;
    right: 0;
    top: 3px;
  }

  .basket-page__item-img-container_xs {
    max-width: 100%;
    width: 100%;
    height: 220px;
    line-height: 220px;
    position: relative;
    text-align: center;
  }

  .basket-page__item-img_xs {
    max-width: inherit;
    max-height: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  .basket-page__item-colors-list_xs {
    font-size: 0;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 5px;
  }

  .basket-page__item-colors-item_xs {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }
  .basket-page__item-colors-item_xs:last-child {
    margin-right: 0;
  }
  .basket-page__item-colors-item_xs.green {
    background: green;
  }
  .basket-page__item-colors-item_xs.red {
    background: red;
  }
  .basket-page__item-colors-item_xs.violet {
    background: violet;
  }
  .basket-page__item-colors-item_xs.blue {
    background: blue;
  }

  .basket-page__item-description_xs {
    font-size: 16px;
    color: black;
    text-decoration: underline;
    line-height: 22px;
    text-align: center;
    font-family: 'raleway_medium';
  }

  .basket-page__item-bottom_xs {
    padding-top: 40px;
    text-align: center;
    position: relative;
  }
  .basket-page__item-bottom_xs:before {
    content: "";
    position: absolute;
    display: block;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background: #f5f5f5;
    top: 20px;
  }

  .basket-page__item-price_xs {
    color: #7261aa;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'raleway_extrabold';
    letter-spacing: 5px;
  }

  .basket-page__item-total-price_xs {
    color: #7261aa;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'raleway_extrabold';
    letter-spacing: 5px;
  }

  .card-count_xs {
    position: relative;
    height: 38px;
    line-height: 36px;
    border: 1px solid #f7689e;
    border-radius: 2px;
    width: 100%;
    font-size: 22px;
    font-family: 'raleway_medium';
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 35;
  }

  .card-count__minus_xs {
    height: 100%;
    left: 0;
    width: 33px;
    top: 0;
    position: absolute;
  }
  .card-count__minus_xs:before {
    display: block;
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: url('../images/icons-details-s506e3351b3.png') 0 -426px no-repeat;
    width: 11px;
    height: 3px;
  }

  .card-count__plus_xs {
    height: 100%;
    right: 0;
    width: 33px;
    top: 0;
    position: absolute;
  }
  .card-count__plus_xs:before {
    display: block;
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: url('../images/icons-details-s506e3351b3.png') 0 -499px no-repeat;
    width: 11px;
    height: 11px;
  }

  .basket-page__bottom {
    display: block;
    height: auto;
    padding: 25px 15px;
    margin: 0 -15px;
  }

  .basket-page__bottom-title {
    margin-right: 0;
  }

  .basket-page__bottom-price {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .basket-page__bottom-sumbit,
  .basket-page__bottom-sumbit:hover,
  .basket-page__bottom-sumbit:active,
  .basket-page__bottom-sumbit:focus {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .basket-page__list .flex-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .basket-page__list .basket-page__item-price {
    margin: 0 0 10px 0;
  }
  .basket-page__list .basket-page__item-price:before {
    display: none;
  }
  .basket-page__list .basket-page__item-dismiss-button {
    top: 10px;
    right: 15px;
    transform: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .basket-page__item-price {
    margin-left: 25px;
    margin-right: 40px;
  }
  .basket-page__item-price:before {
    right: -30px;
  }

  .basket-page__item-dismiss-button,
  .basket-page__item-dismiss-button:hover,
  .basket-page__item-dismiss-button:focus {
    top: 10px;
    right: 15px;
    transform: none;
  }
}

/*# sourceMappingURL=basket.css.map */
