/* ======= mixins ========= */
/* ===== instruments ====== */
.breadcrumbs-item.active:before, .cabinet-sidebar-item.active:before, .cabinet-sidebar-socials-link.fb:before, .cabinet-sidebar-socials-link.google:before, .cabinet-sidebar-socials-link.tw:before, .cabinet-sidebar-socials-link.vk:before, .cabinet-sidebar-socials-link.inst:before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

/* ======= sections ====== */
.breadcrumbs-list {
  text-align: center;
  margin-bottom: 70px;
}

.breadcrumbs-item {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  font-size: 16px;
  color: #f7689e;
  font-family: 'raleway_medium';
  position: relative;
  border-bottom: 1px solid #f7689e;
  line-height: 16px;
  position: relative;
}
.breadcrumbs-item:last-child:after {
  display: none;
}
.breadcrumbs-item:after {
  content: "/";
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  color: #d6d6d6;
}
.breadcrumbs-item.active {
  border-bottom: 0.1px dashed #f7689e;
  margin-right: 45px;
}
.breadcrumbs-item.active:after {
  right: -38px;
}
.breadcrumbs-item.active:before {
  background: url('../images/icons-catalog-s8a9aaedf0e.png') 0 0 no-repeat;
  width: 9px;
  height: 5px;
  right: -15px;
}
.breadcrumbs-item .dropdown-menu {
  width: 260px;
  min-height: 370px;
  padding: 20px 20px 25px 25px;
  top: -23px;
  left: -25px;
  background: #fff;
  border: none;
  box-shadow: none;
}
.breadcrumbs-item .breadcrumbs-item__item {
  font-size: 16px;
  font-family: 'raleway_medium';
  margin-bottom: 15px;
  color: black;
}
.breadcrumbs-item .breadcrumbs-item__item:last-child {
  margin-bottom: 0;
}
.breadcrumbs-item .breadcrumbs-item__item:hover {
  color: #f7689e;
}

.cabinet {
  margin-bottom: 80px;
}
.cabinet .wrapper {
  min-height: 400px;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 65px;
}
.cabinet .container {
  position: relative;
}

.cabinet-title {
  font-size: 60px;
  line-height: 60px;
  font-family: 'raleway_extrabold';
  width: 100%;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.cabinet-list {
  font-family: 'raleway_medium';
  text-align: left;
}

.cabinet-look-block {
  text-align: left;
  margin-bottom: 20px;
}

.cabinet-look,
.cabinet-look:hover,
.cabinet-look:focus {
  color: #0091e9;
  font-size: 14px;
  font-family: 'raleway_medium';
  display: inline-block;
  margin-right: 40px;
}

.cabinet-status-title {
  text-align: left;
  font-size: 24px;
  font-family: 'raleway_medium';
  color: black;
  margin-bottom: 10px;
}

.cabinet-item {
  border: 1px solid #f0ecec;
  padding: 0 15px 15px 15px;
  margin-bottom: 35px;
}
.cabinet-item:last-child {
  margin-bottom: 0;
}
.cabinet-item .success {
  display: inline-block;
  background: #dff1bc;
  border-radius: 2px;
  border: 1px solid #b7d372;
  height: 25px;
  line-height: 23px;
  color: #477800;
  padding: 0 10px;
}
.cabinet-item .error {
  display: inline-block;
  background: #ffe5e8;
  border-radius: 2px;
  border: 1px solid #fcb4bb;
  height: 25px;
  line-height: 23px;
  color: #f50015;
  padding: 0 10px;
}
.cabinet-item .waiting {
  display: inline-block;
  background: #f3f4f5;
  border-radius: 2px;
  border: 1px solid #dddfe1;
  height: 25px;
  line-height: 23px;
  color: #4e5c6a;
  padding: 0 10px;
}

.cabinet-item__title {
  margin: 0 -15px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'raleway_medium';
  color: black;
  background: #d7f9c2;
  border-bottom: 1px solid #f1eded;
  margin-bottom: 25px;
  font-weight: bold;
}

.cabinet-item__block {
  border-top: 1px solid #f2f2f2;
  padding: 25px 0 25px 0;
  position: relative;
}
.cabinet-item__block.border {
  border-bottom: 1px solid #f2f2f2;
}

.cabinte-item__block-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #9d9d9d;
  position: absolute;
  background: #fff;
  top: -8px;
}

.cabinte-item__block-bill {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cabinte-item__block-description {
  font-size: 16px;
  margin-bottom: 5px;
}
.cabinte-item__block-description:last-child {
  margin-bottom: 0;
}

.cabinet-item__footer {
  padding: 20px 15px 15px 15px;
}

.cabinet-item__repeat {
  display: inline-block;
  color: #0091e9;
}

.cabinet-item__repeat-link,
.cabinet-item__repeat-link:hover,
.cabinet-item__repeat-link:focus {
  padding-left: 5px;
  margin-right: 20px;
  text-decoration: underline;
  color: #0091e9;
  display: inline-block;
}

.cabinet-item__cansel-link,
.cabinet-item__cansel-link:hover,
.cabinet-item__cansel-link:focus {
  text-decoration: underline;
  color: #9d9d9d;
  display: inline-block;
}

.cabinet-item__link,
.cabinet-item__link:hover,
.cabinet-item__link:focus {
  text-decoration: underline;
  color: #0091e9;
  font-weight: bold;
}

.cabinet-sidebar {
  padding-left: 50px;
}

.cabinet-sidebar-list {
  font-size: 0;
  margin-bottom: 70px;
}

.cabinet-sidebar-item {
  font-size: 17px;
  font-family: 'raleway_extrabold';
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #7261aa;
  margin-bottom: 22px;
  position: relative;
}
.cabinet-sidebar-item:last-child {
  margin-bottom: 0;
}
.cabinet-sidebar-item.active {
  color: #f7689e;
}
.cabinet-sidebar-item.active:before {
  background: url('../images/icons-cabinet-s14ae97c3f4.png') 0 -998px no-repeat;
  width: 26px;
  height: 21px;
  left: -45px;
  top: 70%;
}

.cabinet-sidebar-socials-title {
  font-size: 17px;
  font-family: 'raleway_extrabold';
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 15px;
}

.cabinet-sidebar-socials-list {
  font-size: 0;
  margin-bottom: 55px;
}

.cabinet-sidebar-socials-item {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
  display: inline-block;
}
.cabinet-sidebar-socials-item:last-child {
  margin-right: 0;
}

.cabinet-sidebar-socials-link {
  height: 100%;
  width: 100%;
  position: relative;
}

.cabinet-sidebar-socials-link.fb:before {
  background: url('../images/icons-cabinet-s14ae97c3f4.png') 0 -278px no-repeat;
  width: 35px;
  height: 35px;
}

.cabinet-sidebar-socials-link.google:before {
  background: url('../images/icons-cabinet-s14ae97c3f4.png') 0 -383px no-repeat;
  width: 35px;
  height: 35px;
}

.cabinet-sidebar-socials-link.tw:before {
  background: url('../images/icons-cabinet-s14ae97c3f4.png') 0 -1460px no-repeat;
  width: 35px;
  height: 35px;
}

.cabinet-sidebar-socials-link.vk:before {
  background: url('../images/icons-cabinet-s14ae97c3f4.png') 0 -1565px no-repeat;
  width: 35px;
  height: 35px;
}

.cabinet-sidebar-socials-link.inst:before {
  background: url('../images/icons-cabinet-s14ae97c3f4.png') 0 -621px no-repeat;
  width: 35px;
  height: 35px;
}

.cabinet-sidebar-delivery {
  font-size: 17px;
  font-family: 'raleway_extrabold';
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 10px;
}

.cabinet-sidebar-delivery__button-submit,
.cabinet-sidebar-delivery__button-submit:hover,
.cabinet-sidebar-delivery__button-submit:active,
.cabinet-sidebar-delivery__button-submit:focus {
  width: 175px;
  height: 50px;
  line-height: 50px;
}

/* ======== media ========= */
@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 35px;
  }

  .cabinet {
    padding-top: 15px;
    margin-bottom: 0;
    text-align: center;
  }
  .cabinet .wrapper {
    padding-top: 0;
    background: none;
  }
  .cabinet .container {
    margin: 0 15px;
    padding-top: 40px;
    background: #fff;
  }

  .cabinet-title {
    top: -15px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 5px;
  }

  .cabinet-sidebar {
    padding-left: 30px;
  }
  .cabinet-sidebar .cabinet-sidebar-item.active:before {
    display: none;
  }

  .cabinet-item {
    margin-bottom: 15px;
    height: auto;
  }

  .cabinet-list .cabinet-link {
    padding: 10px 3px;
  }
  .cabinet-list .cabinet-link:before {
    display: none;
  }

  .breadcrumbs-list {
    margin-bottom: 25px;
  }

  .cabinet-sidebar {
    padding-left: 0;
  }

  .cabinet-sidebar-socials-item {
    margin-bottom: 10px;
  }

  .input-default {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .cabinet-sidebar-socials-item {
    margin-bottom: 10px;
  }

  .input-default {
    width: 100%;
  }

  .button-default,
  .button-default:hover,
  .button-default:focus,
  .button-default:active {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .cabinet-title {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 5px;
  }

  .breadcrumbs-list {
    margin-bottom: 35px;
  }

  .cabinet-sidebar {
    padding-left: 30px;
  }

  .cabinet-sidebar-item {
    font-size: 15px;
  }

  .cabinet-sidebar-socials-item {
    margin-bottom: 10px;
  }

  .input-default {
    width: 100%;
  }

  .button-default,
  .button-default:hover,
  .button-default:focus,
  .button-default:active {
    font-size: 18px;
    width: 100%;
  }
}

/*# sourceMappingURL=cabinet-current-orders.css.map */
