@font-face {
    font-family: 'raleway_black';
    src: url('../fonts/RalewayBlack/RalewayBlack.woff') format('woff'),
         url('../fonts/RalewayBlack/RalewayBlack.eot') format('eot'),
         url('../fonts/RalewayBlack/RalewayBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_bold';
    src: url('../fonts/RalewayBold/RalewayBold.woff') format('woff'),
         url('../fonts/RalewayBold/RalewayBold.eot') format('eot'),
         url('../fonts/RalewayBold/RalewayBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_extrabold';
    src: url('../fonts/RalewayExtraBold/RalewayExtraBold.woff') format('woff'),
         url('../fonts/RalewayExtraBold/RalewayExtraBold.eot') format('eot'),
         url('../fonts/RalewayExtraBold/RalewayExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_extralight';
    src: url('../fonts/RalewayExtraLight/RalewayExtraLight.woff') format('woff'),
         url('../fonts/RalewayExtraLight/RalewayExtraLight.eot') format('eot'),
         url('../fonts/RalewayExtraLight/RalewayExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_light';
    src: url('../fonts/RalewayLight/RalewayLight.woff') format('woff'),
         url('../fonts/RalewayLight/RalewayLight.eot') format('eot'),
         url('../fonts/RalewayLight/RalewayLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_medium';
    src: url('../fonts/RalewayMedium/RalewayMedium.woff') format('woff'),
         url('../fonts/RalewayMedium/RalewayMedium.eot') format('eot'),
         url('../fonts/RalewayMedium/RalewayMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_regular';
    src: url('../fonts/RalewayRegular/RalewayRegular.woff') format('woff'),
         url('../fonts/RalewayRegular/RalewayRegular.eot') format('eot'),
         url('../fonts/RalewayRegular/RalewayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_semibold';
    src: url('../fonts/RalewaySemiBold/RalewaySemiBold.woff') format('woff'),
         url('../fonts/RalewaySemiBold/RalewaySemiBold.eot') format('eot'),
         url('../fonts/RalewaySemiBold/RalewaySemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_thin';
    src: url('../fonts/RalewayThin/RalewayThin.woff') format('woff'),
         url('../fonts/RalewayThin/RalewayThin.eot') format('eot'),
         url('../fonts/RalewayThin/RalewayThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Proxima */

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-ExtraBold';
    src: url('../fonts/ProximaNova/ProximaNova-ExtraBold/ProximaNova-Extrabld.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-ExtraBold/ProximaNova-Extrabld.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-ExtraBold/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
         url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.eot') format('eot'),
         url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


