/* ======= mixins ========= */
/* ===== instruments ====== */
.checkbox-default__text:before, .checkbox-default:checked + .checkbox-default__text:after, .radio-default__text:before, .radio-default:checked + .radio-default__text:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

/* ======= sections ====== */
.news-item-page {
  margin-bottom: 80px;
}
.news-item-page .wrapper {
  min-height: 400px;
  background: #fff;
  padding-top: 50px;
}
.news-item-page .container {
  position: relative;
}

.header {
  margin-bottom: 155px;
}

.news-back,
.news-back:hover,
.news-back:focus {
  margin-bottom: 35px !important;
  display: block;
}
.news-back:before,
.news-back:hover:before,
.news-back:focus:before {
  display: none;
}

.news-data {
  text-align: center;
  margin-bottom: 80px;
}

.h1-title {
  font-size: 60px;
  line-height: 60px;
  font-family: 'raleway_extrabold';
  width: 100%;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.h2-title {
  text-align: center;
  font-size: 40px;
  font-family: 'raleway_extrabold';
  color: black;
  margin-bottom: 65px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.container-block {
  margin-bottom: 65px;
}
.container-block .padding_left {
  padding-left: 55px;
}
.container-block p {
  font-size: 16px;
  font-family: 'raleway_medium';
  color: black;
  margin-bottom: 30px;
}
.container-block ul {
  padding-left: 60px;
  margin-bottom: 30px;
}
.container-block ul li {
  padding-left: 20px;
  position: relative;
  font-size: 16px;
  font-family: 'raleway_medium';
  color: black;
  margin-bottom: 3px;
}
.container-block ul li:before {
  position: absolute;
  display: block;
  content: "";
  top: 8px;
  width: 4px;
  height: 4px;
  background: #7261aa;
  border-radius: 50%;
  left: 0;
}
.container-block ol {
  padding-left: 60px;
  margin-bottom: 30px;
  counter-reset: myCounter;
}
.container-block ol li {
  padding-left: 20px;
  font-size: 16px;
  font-family: 'raleway_medium';
  color: black;
  margin-bottom: 3px;
  list-style: none;
  position: relative;
}
.container-block ol li:before {
  left: -2px;
  position: absolute;
  counter-increment: myCounter;
  content: counter(myCounter) ".";
  color: #7261aa;
  display: inline;
  font-family: 'raleway_extrabold';
  font-size: 16px;
}
.container-block table {
  padding-left: 22px !important;
  font-size: 16px;
  font-family: 'raleway_medium';
  color: black;
}
.container-block table thead {
  background: #f4f4f4;
}
.container-block table thead tr th {
  font-weight: normal;
  border: none;
}
.container-block table td {
  border: 1px solid #f4f4f4 !important;
}
.container-block table td:last-child {
  border-right: none !important;
}
.container-block table td:first-child {
  border-left: none !important;
}

.some-img-container {
  max-width: 100%;
  margin-bottom: 30px;
}

.h3-title {
  text-align: center;
  font-size: 30px;
  font-family: 'raleway_extrabold';
  color: black;
  margin-bottom: 65px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.input-default {
  height: 38px;
  border: 2px solid #a0a0a0;
  border-radius: 3px;
  padding: 0 15px;
  line-height: 36px;
  margin-bottom: 22px;
  font-size: 16px;
  font-family: 'raleway_medium';
  color: black;
}
.input-default:last-child {
  margin-bottom: 0;
}

.input-default:focus,
.input_focus {
  outline: none;
  border-color: #7261aa;
}

.input_error {
  color: #ff3030;
  border-color: #ff3030;
}

.input_success {
  border-color: #53d350;
}

.input-default:disabled,
.input_disabled {
  border-color: #f5f5f5;
  background: none;
}
.input-default:disabled::-webkit-input-placeholder,
.input_disabled::-webkit-input-placeholder {
  color: #f5f5f5;
}

.button-default,
.button-default:focus {
  font-size: 22px;
  font-family: 'raleway_medium';
  width: 145px;
  height: 38px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  background: #f7689e;
  outline: none;
  border: none;
  margin-bottom: 12px;
}
.button-default:last-child,
.button-default:focus:last-child {
  margin-bottom: 0;
}

.button_hover,
.button-default:hover {
  color: #fff;
  background: #fe3d86;
}

.button-default:active,
.button_active {
  color: #fff;
  background: #b42a5e;
}

.button_disabled,
.button-default:disabled {
  background: #dcdcdc;
}

.radio-default__text,
.checkbox-default__text {
  font-weight: normal;
  padding-left: 22px;
  font-size: 16px;
  font-family: 'raleway_medium';
  color: black;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.radio-default__text:last-child,
.checkbox-default__text:last-child {
  margin-bottom: 0;
}

.radio-default,
.checkbox-default {
  display: none;
}

.checkbox-default__text:before {
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #7261aa;
}

.checkbox-default:checked + .checkbox-default__text:after {
  left: 3px;
  background: url('../images/icons-header-sf3174bde84.png') 0 -180px no-repeat;
  width: 9px;
  height: 6px;
}

.radio-default__text:before {
  left: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #7261aa;
}

.radio-default:checked + .radio-default__text:after {
  left: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #7261aa;
}

/*# sourceMappingURL=static-details-news.css.map */
