@media screen and (max-width: 767px) {

	.wrap_xs {
		background: #fff;
		margin: 15px 15px 0 15px;
	}

	.about .wrapper {
		position: relative;
	}

	.header {
		margin-bottom: 35px;
	}

	.about {
		color: black;
		margin-bottom: 35px !important;
		text-align: left;

		.wrapper {
			padding-top: 0;
			background: none;
		}

		.container {
			padding-top: 40px;
			background: none;
		}

		.breadcrumbs-list {
			margin-bottom: 30px;
			padding-top: 25px;
		}

		.breadcrumbs-item {
			color: $pink;
			border-color: $pink;

			&:last-child {
				color: #bbbbbb;
			}
		}

		.about-description {
			color: black;
			font-size: 17px;
			text-align: left;
			line-height: 27px;
			margin-bottom: 25px;

			&.top {
				margin-bottom: 25px;
			}

			.knife {
				padding-left: 30px;

				&:before {
					display: block;
					@include get-sprite($main-spr, knife_fiol);
				}
			}

			.grenade {
				padding-left: 30px;

				&:before {
					display: block;
					@include get-sprite($main-spr, grenade_pink);
				}
			}
		}

		.about-wiki-button,
		.about-wiki-button:hover,
		.about-wiki-button:focus {
			position: relative;
			bottom: auto;
			font-size: 17px;
			color: #d9d9d9;
		}

		.about-img-container {
			max-width: 100%;
			margin-bottom: 35px;
		}

		.about-img {
			width: 100%;
		}
	}

	.about-title {
		top: -15px;
		font-size: 30px;
		line-height: 38px;
		letter-spacing: 5px;
	}

	.casualties {
		margin-bottom: 35px;

		.wrapper {
			min-height: auto;
			background: none;
			padding-top: 0;
			padding-bottom: 0;
		}

		.casualties-title {
			font-size: 30px;
			margin-bottom: 35px;
			text-align: center;
			letter-spacing: 5px;
		}

		.casualties-description {
			font-size: 17px;
			line-height: 27px;

			p {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.about-img-container {
			max-width: 100%;
			margin-bottom: 35px;
		}

		.about-img {
			width: 100%;
		}
	}

	.advantages {
		.wrapper {
			min-height: auto;
			padding-top: 0;
			padding-bottom: 0;
			background: none;
		}

		.advantages-title {
			font-size: 20px;
			line-height: 29px;
			letter-spacing: 3px;
			margin-bottom: 35px;
		}

		.advantages-item {
			padding: 130px 50px 0 50px;
			font-size: 17px;
			line-height: 27px;
			margin-bottom: 40px;
		}
	}

	.feedback {
		margin-bottom: 0;

		.wrapper {
			padding-top: 50px;
			padding-bottom: 55px;
			min-height: auto;
			border-radius: 0;
		}

		.feedback-title {
			font-size: 20px;
			line-height: 23px;
			margin-bottom: 15px;
			letter-spacing: 5px;
		}

		.feedback-description {
			font-size: 20px;
			line-height: 23px;
			margin-bottom: 40px;
			letter-spacing: 5px;
		}

		.feedback-form__button-submit {
			width: 75%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {

	.about .breadcrumbs-list {
		margin-bottom: 30px
	}

	.about .about-description.top {
		margin-bottom: 20px;
	}

	.about-title {
		top: -20px;
	}

	.casualties .wrapper {
		background-size: cover;
		background-position: -190px;
		padding-top: 40px;
	}

	.casualties-title {
		font-size: 45px;
		line-height: 45px;
	}

	.casualties-description {
		font-size: 20px;
		line-height: 35px; 
	}

	.advantages .wrapper {
		padding-top: 75px;
	}

}