.order-formed {
	margin-bottom: 80px;

	.wrapper {
		min-height: 400px;
		background: #fff;
		padding-top: 50px;
	}

	.container {
		position: relative;
	}
}

.order-formed-title {
	font-size: 60px;
	line-height: 60px;
	font-family: 'raleway_extrabold';
	width: 100%;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
}

.order-formed-description {
	font-size: 18px;
    font-family: 'ProximaNova-Regular';
	color: black;
	margin-bottom: 10px; 
}

.order-formed-tracking {
	font-size: 18px;
    font-family: 'ProximaNova-Regular';
	color: black;
	margin-bottom: 30px;

	.order-formed-tracking__personal,
	.order-formed-tracking__personal:hover,
	.order-formed-tracking__personal:focus {
		display: inline-block;
		color: $pink;
		text-decoration: underline;
	}
}

.order-formed__payment-order {
	position: relative;
	font-size: 22px;
    font-family: 'ProximaNova-Regular';
	color: black;
}

.order-formed__payment-order-img-container {
	max-width: 100%;
	margin: 40px 0 50px;
}

.order-formed__payment-order-img {
	margin: 0 auto;
}

.order-formed__services {
	font-size: 18px;
    font-family: 'ProximaNova-Regular';
	color: black;
	margin-bottom: 15px; 
}

.order-formed__summ {
    font-family: 'ProximaNova-ExtraBold';
	font-size: 25px;
	color: $fiol;
	letter-spacing: 5px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.order-formed__submit-button:hover,
.order-formed__submit-button:active,
.order-formed__submit-button:focus,
.order-formed__submit-button {
	width: 225px;
	height: 50px;
	margin-bottom: 30px;
	line-height: 50px;
	display: inline-block;
}

.order-formed__attention {
	font-size: 18px;
	font-family: 'ProximaNova-Regular';
	color: black;
	margin-bottom: 55px;
}


