.formalization__sum {
	position: absolute;
	right: 15px;
	top: 135px;
	height: 240px;
}

.formalization__sum-wrapper {
	background: image-url('products-in-order__sum-bg.png') no-repeat;
	background-size: cover;
	margin-left: -38px;
	height: 100%;
	padding: 30px 27px 45px 27px;
}

.formalization__sum-block {
	margin-bottom: 15px;
	border-bottom: 1px solid #9480d1;

	&:last-child {
		margin-bottom: 0;
		border: none;
	}
}

.formalization__sum-title {
	color: #fff;
	font-size: 18px;
	@include font(med);
	margin-bottom: 5px;
}

.formalization__sum-amount {
	color: #fff;
	font-size: 25px;
	font-family: 'ProximaNova-ExtraBold';
	margin-bottom: 10px;
	letter-spacing: 5px;
}