@media screen and (max-width: 767px) {

	.header {
		margin-bottom: 35px;
	}

	.news-item-page {
		padding-top: 15px;
		margin-bottom: 0;
		text-align: center;

		.wrapper {
			padding-top: 0;
			background: none;
		}

		.container {
			margin: 0 15px;
			padding-top: 40px;
			background: #fff;
		}
	}

	.h1-title {
		top: -15px;
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 5px;
	}

	.news-back, .news-back:hover, .news-back:focus {
		margin-bottom: 25px !important;
		margin-top: 20px !important;
	}

	.news-item__data.news-data {
		margin-bottom: 25px;
	}

	.container-block {
		text-align: left;
		margin-bottom: 25px;

		p {
			margin-bottom: 25px;
		}

		ol, ul {
			padding-left: 10px;
			margin-bottom: 25px;
		}

	}

	.h2-title {
		font-size: 25px;
		letter-spacing: 3px;
		margin-bottom: 25px;
	}

	.h3-title {
		font-size: 20px;
		letter-spacing: 5px;
		margin-bottom: 25px;
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {

	.input-default {
		width: 100%;
	}

	.news-data {
		margin-bottom: 40px;
	}

	.container-block {
		margin-bottom: 40px;

		p {
			margin-bottom: 25px;
		}
	}

	.h2-title,
	.h3-title {
		margin-bottom: 40px;
	}


}