.paggination-list {
	text-align: left;
	margin-bottom: 85px;
}

.paggination-item {
	text-align: center;
	display: inline-block;
	margin-right: 8px;
	width: 27px;
	height: 29px;
	border-radius: 1px;
	border: 1px solid transparent;
	text-decoration: underline;
	color: black;
	font-size: 18px;
	line-height: 26px;
	font-family: 'raleway_medium';

	&:last-child {
		margin-right: 0;
	}

	&.active {
		border: 1px solid $pink;
		color: $pink;
		font-family: 'raleway_extrabold';
		text-decoration: none;
	}
}