$pink : #f7689e;
$fiol : #7261aa;

%icons { 		
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	transform: translateY(-50%);
}

$header-spr : sprite-map('icons-header/*.png', $spacing: 70px);
$footer-spr : sprite-map('icons-footer/*.png', $spacing: 70px);