.header {
	min-height: 212px;
	background: #fff;
	margin-bottom: 35px;
}

.logo-particle {
	display: none;
}

.header-top {
	position: relative;
	min-height: 90px;
}

// @keyframes logoAnimate {
// 	0% {
// 		background-image: image-url('logo/logo_circle_1.png');
// 	}

// 	20% {
// 		background-image: image-url('logo/logo_circle_2.png');
// 	}

// 	40% {
// 		background-image: image-url('logo/logo_circle_3.png');
// 	}

// 	60% {
// 		background-image: image-url('logo/logo_circle_4.png');
// 	}

// 	80% {
// 		background-image: image-url('logo/logo_circle_5.png');
// 	}

// 	100% {
// 		background-image: image-url('logo/logo_circle_1.png');
// 	}
// }

.logo-div-img {
	position: absolute;
	background-image: image-url('logo/logo_circle_1.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 30px;
	height: 40px;
	display: block;
	top: 0;
	left: 60px;
	content: "";
}

.header-top__logo-link {
	max-width: 100%;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: image-url('logo/logo.svg') no-repeat;
	background-size: contain;
	width: 166px;
	height: 50px;

	img {
		display: none;
	}

	// &:after {
	// 	position: absolute;
	// 	content: "";
	// 	display: block;
	// 	background: image-url('logo/logo_circle_1.png'),
	// 	image-url('logo/logo_circle_2.png'),
	// 	image-url('logo/logo_circle_3.png'),
	// 	image-url('logo/logo_circle_4.png'),
	// 	image-url('logo/logo_circle_5.png');
	// }

	// &:before {
	// 	position: absolute;
	// 	background-image: image-url('logo/logo_circle_1.png');
	// 	background-repeat: no-repeat;
	// 	background-size: contain;
	// 	width: 30px;
	// 	height: 40px;
	// 	display: block;
	// 	top: 0;
	// 	left: 60px;
	// 	content: "";
	// 	transition: all 0.3s;
	// 	animation-name: logoAnimate;
	// 	animation-duration: 5s;
	// 	animation-iteration-count: infinite;
	// 	animation-timing-function: ease;
	// }

}

.header-top-list {
	text-align: left;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.header__top-item {
	display: inline-block;
	font-size: 16px;
	font-family: 'raleway_medium';
	margin-right: 25px;
	transition: all 0.3s;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		color: $pink;
		text-decoration: underline;
	}
}

.header-top__info {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.info__tel,
.info__tel:hover,
.info__tel:focus {
	@include linksHover();
	display: inline-block;
	margin-right: 40px;
	font-size: 26px;
	line-height: 26px;
	margin-left: 20px;
	color: $fiol;
	font-family: 'ProximaNova-Semibold';
	border-bottom: 0.01px dashed $fiol;
	position: relative;

	&:before {
		left: -20px;
		@extend %icons;
		@include get-sprite($header-spr, tel-header);
	}

	.info__tel_bold {
		font-family: 'ProximaNova-ExtraBold';
	}
}

.info__cabinet,
.info__cabinet:hover,
.info__cabinet:focus {
	@include linksHover();
	font-family: 'raleway_extrabold';
	padding-left: 35px;
	font-size: 18px;
	color: $pink;
	display: inline-block;
	position: relative;
	width: 151px;

	.avatar-container {
		max-width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}

	.info__cabinet-aut-true {
		display: none;
	}

	.info__cabinet-aut-false {
		display: block;
		position: relative;

		&:before {
			left: 35px;
			@extend %icons;
			@include get-sprite($header-spr, lock);
		}
	}

	&.authorized {
		.info__cabinet-aut-true {
			display: block;
		}

		.info__cabinet-aut-false {
			display: none;
		}
	}
}

.header-middle {
	padding-top: 13px;
	padding-bottom: 13px;
}

.header-middle__button-full-catalog,
.header-middle__button-full-catalog:hover,
.header-middle__button-full-catalog:focus {
	height: 38px;
	border: 3px solid $pink;
	line-height: 34px;
	text-align: center;
	padding-right: 35px;
	text-transform: uppercase;
	font-size: 15px;
	color: $pink;
	font-family: 'raleway_extrabold';
	border-radius: 3px;
	padding-left: 10px;
	margin-right: -30px;
	position: relative;
	z-index: 3;
	@include linksHover();

	&:before {
		@extend %icons;
		@include get-sprite($header-spr, full-catalog);
		right: 12px;
	}

	&[aria-expanded=true]:before {
		@include get-sprite($main-spr, carret-pink);
	}
}

.nav-list {
	text-align: center;
}

.nav-item {
	transition: all 0.3s;
	display: inline-block;
	text-transform: uppercase;
	font-size: 15px;
	color: black;
	margin-right: 25px;
	line-height: 38px;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		color: #f7689e;
		text-decoration: underline;
	}
}

.header-bottom {
	background: $fiol image-url('bg-search.png') no-repeat;
	min-height: 130px;
	border-radius: 5px;
	position: relative;
	width: 100%;
	padding: 30px 0 25px 0;
}

.form-search {
	position: relative;
	padding-right: 35px;
	margin-bottom: 15px;

	&:before {
		@extend %icons;
		@include get-sprite($header-spr, target);
		left: 125px;
		z-index: 1;
	}

	.select2.select2-container.select2-container--default {
		width: 155px !important;
		right: 222px;
		position: absolute;
		border-left: 2px solid #efefef;
		@include linksHover();
	}

	.select2-selection.select2-selection--single {
		border-radius: 3px;
		border: none;
		height: 40px;
		outline: none !important;
	}

	.select2-selection__rendered {
		height: 40px !important;
		line-height: 40px !important;
		padding-left: 25px !important;
		padding-right: 60px !important;
		color: $pink !important;
		text-transform: lowercase;
		font-size: 18px !important;
		font-family: 'raleway_medium' !important;
	}

	.select2-selection__arrow {
		@extend %icons;
		top: 50% !important;
		@include get-sprite($header-spr, arrow-down_pink);
		right: 25px;
	}
}


.select2-search--dropdown {
	display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	display: none;
}

.form-search__search {
	height: 40px;
	border: none;
	outline: none;
	padding-left: 60px;
	padding-right: 160px;
	box-shadow: 0px 14px 46px 0px rgba(71, 56, 118, 0.42);
	border-radius: 3px;
	font-size: 18px;
	font-family: 'raleway_medium';
	margin-right: 20px;
}

.search__select {
	position: absolute;
	display: none;
}

.form-search__button-submit {
	color: #fff;
	font-size: 19px;
	text-transform: uppercase;
	font-family: 'raleway_extrabold';
	height: 40px;
	line-height: 24px;
	border: 4px solid #fff;
	text-align: center;
	padding: 0 0 3px 0;
	outline: none;
	background: transparent;
	border-radius: 3px;
	width: 120px;
	transition: all 0.3s;

	&:hover {
		color: $pink;
		border-color: $pink;
	}
}

.header-bottom__example {
	font-size: 18px;
	font-family: 'raleway_medium';
	color: #fff;

	.example__border {
		border-bottom: 0.1px dashed #fff;
		display: inline;
		@include linksHover();
	}
}

