.pass-res-pop-up__dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 620px;
	text-align: center;
}

.pass-res-pop__container {
	background: #fff;
	min-height: 370px;
	padding: 45px 130px 0 130px;
	border-radius: 3px;
}

.pass-res-pop__close-button {
	position: absolute;
	top: 50px;
	right: 45px;
	@include get-sprite($header-spr, pop-exit);
}

.pass-res-pop__title {
	text-transform: uppercase;
	font-size: 30px;
	color: black;
	line-height: 34px;
	letter-spacing: 5px;
	@include font(ext);
	margin: 0 0 20px 0;
	text-align: center;
}

.pass-res-pop__description {
	font-size: 18px;
	@include font(med);
	text-align: center;
	margin: 0 -80px 30px -80px;
	color: black;
}

.pass-res-pop__input-email {
	width: 100%;
	margin-bottom: 30px;
}

.pass-res-pop__button-sumbit {
	width: 140px;
	margin: 0 auto;
	display: block;
}